.section__project{
    padding: 2rem 5rem;
}
.project__h1{
    margin-bottom: 5rem;
}
.project__container{
    display: flex;
    justify-content: center;
    gap: 10%;
    flex-wrap: wrap;
}
.project__wrapper{
    position: relative;
    width: 40%;
    aspect-ratio: 1/.5;
    perspective: 150rem;
    margin-bottom: 5rem;
}
.project__front{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: .5rem .5rem 1rem rgba(70, 70, 68, 0.7);
    transition: all .5s;
}
.project__front::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(7, 7, 7, 0.5);
}
.project__image{
    width: 100%;
    height: 100%;
}
.project__back{
    position: absolute;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
    padding: 2rem;
    color: rgb(33, 33, 33);
    border-radius: 1rem;
    transform: rotateY(180deg);
    transition: all .5s;
}
.project__wrapper:hover .project__front{
 transform: rotateY(-180deg);
}
.project__wrapper:hover .project__back{
    transform: rotateY(0);
   }
.project__name{
    text-transform: capitalize;
    margin-bottom: 1rem;
    font-weight: bold;
}
.project_desc{
    margin-bottom: 2rem;
}
.project__link:link,
.project__link:visited{
    padding: .2rem .5rem;
    border: none;
    display: inline-block;
    border-radius: .5rem;
    background-color: white;
    text-decoration: none;
    color: gray;
    box-shadow: 0 1rem 2rem var(--backgroundColor-light);
    transition: all .5s;
}
.project__link:hover{
    background-color: var( --color-gold);
    color: white;
    transform: scale(.95);
}
.project__link:active{
    transform: scale(.8);
    box-shadow: 0 .5rem 1rem var(--backgroundColor-light);
}

@media screen and (pointer: coarse){
    .project__wrapper{
        position: unset;
    }
    .project__front{
        position: unset;
        border-radius: 1rem 1rem 0 0;
        transition: unset;
    }
    .project__back{
        position: unset;
        height: fit-content;
        box-shadow: .5rem .5rem 1rem rgba(70, 70, 68, 0.7);
        border-radius: 0 0 1rem 1rem;
        transform: rotateY(0);
        transition: unset;
    }
    .project__wrapper:hover .project__front{
        transform: rotateY(0);
    }

}

@media screen and (max-width: 1090px){
    .project__container{
        gap: 10%;
    }
    .project__wrapper{
        width: 45%;
    }
}

@media screen and (max-width: 963px){
    .project__wrapper{
        width: 60%;
    }
}

@media screen and (max-width: 775px){
    .project__wrapper{
        width: 80%;
    }
}

@media screen and (max-width: 602px){
    .project__wrapper{
        width: 100%;
    }
}

@media screen and (max-width: 493px){
    .project__wrapper{
        position: unset;
    }
    .project__front{
        position: unset;
        border-radius: 1rem 1rem 0 0;
        transition: unset;
    }
    .project__back{
        position: unset;
        height: fit-content;
        box-shadow: .5rem .5rem 1rem rgba(70, 70, 68, 0.7);
        border-radius: 0 0 1rem 1rem;
        transform: rotateY(0);
        transition: unset;
    }
    .project__wrapper:hover .project__front{
        transform: rotateY(0);
    }
    .project__wrapper:hover .project__back{
        transform: rotateY(0);
       }

}

