.name__wrp{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}
.name{
    width: fit-content;
}
.letters{
    display: inline-block;
    text-transform: uppercase;
    color: var(--color-gold);
    opacity: 0;
}
.first__name__e{
    animation: displayletter .6s forwards ease;
}
.first__name__b{
    animation: displayletter .6s .3s forwards ease;
}
.first__name__u{
    animation: displayletter .6s .6s forwards ease;
}
.first__name__k{
    animation: displayletter .6s .9s forwards ease;
}
.first__name__a{
    animation: displayletter .6s 1.2s forwards ease;
}
.middle__name__s{
    animation: displayletter .6s 1.5s forwards ease;
}
.middle__name__t{
    animation: displayletter .6s 1.8s forwards ease;
}
.middle__name__e{
    animation: displayletter .6s 2.1s forwards ease;
}
.middle__name__p{
    animation: displayletter .6s 2.4s forwards ease;
}
.middle__name__h{
    animation: displayletter .6s 2.7s forwards ease;
}
.middle__name__ee{
    animation: displayletter .6s 3s forwards ease;
}
.middle__name__n{
    animation: displayletter .6s 3.3s forwards ease;
}
.last__name__u{
    animation: displayletter .6s 3.6s forwards ease;
}
.last__name__z{
    animation: displayletter .6s 3.9s forwards ease;
}
.last__name__o{
    animation: displayletter .6s 4.2s forwards ease;
}
.last__name__m{
    animation: displayletter .6s 4.5s forwards ease;
}
.last__name__a{
    animation: displayletter .6s 4.8s forwards ease;
}

@keyframes displayletter {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
