.skills__section{
    padding: 0 5rem;
}
.skills_h1{
    margin-bottom: 5rem;
}
.skills__section> p{
    margin-bottom: 3rem;
}
.skill__wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    flex-wrap: wrap;
    text-align: center;
}
.skill{
    width: 30%;
    margin-bottom: 2rem;
}
.skill__icon{
    height: 7rem;
    width: 7rem;
    margin: auto;
}
@media screen and (max-width: 480px){
    .skills__section{
        padding: 0 2rem;
    }
    .skill{
        width: 45%;
    }
}